.apply {
  &__header {
    font-family: "Wendy One";
    font-size: x-large;
    color: $light-font-color2;
    transition: 0.4s;
    &__night {
      @extend .apply__header;
      color: $night-font-color2;
    }
  }
}

/* MOBILE view */
@media only screen and (max-width: 1060px) {

  .apply {
    &__info {
      &__long {
        display: none !important;
      }
      &__short {
        display: flex !important;
      }
    }
  }
}
