.loading-wrapper {
  display: grid;
  place-items: center;
}

.loading-text {
  -webkit-background-clip: text;
  animation: shimmer 2s linear infinite;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

@keyframes shimmer {
  to {
    background-position: 100%;
  }
}
