$baseurl: "../../public/images/";

.navBar {
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  &__content {
    display: flex;
    border-radius: 20px;
    background-color: pink;
    border: 2px solid hotpink;
    width: 500px;
    justify-content: space-evenly;
    &__night {
      @extend .navBar__content;
      background-color: #8c89d2 !important;
      border: 2px solid #272648 !important;
    }
  }
  &__button {
    text-decoration: none;
    color: darkgreen;

    &__night {
      @extend .navBar__button;
      color: rgb(253, 224, 248);
    }
    &:hover {
      transform: rotate(-4deg);
    }
  }
  &__picture {
    width: 125px;
    height: 125px;
    background-size: 125px;
    background-image: url("#{$baseurl}goblin.png");
    &:hover {
      background-image: url("#{$baseurl}Pilbo_Goober.png");
    }
    &__necoarc {
      width: 125px;
      height: 125px;
      background-size: 125px;
      background-image: url("#{$baseurl}necoarc_pilow.png");

    }
    &__gokufeet {
      width: 125px;
      height: 125px;
      background-size: 125px;
      background-image: url("#{$baseurl}goku_feet.png");
    }
    &s {
      display: flex;
      justify-content: flex-end;
    }
  }
}
