@import ".././styles/variables.scss";
$baseurl: "../../public/images/";

.navBar {
  position: absolute;
  display: flex;
  width: 100%;
  top: 120px;
  justify-content: center;
  &__content {
    display: flex;
    width: 995px;
    justify-content: space-around;
  }
  &__button {
    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 25px;
      width: 1px;
      background-color: $light-font-color1;
    }
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 69px;
    text-decoration: none;
    color: $light-font-color2;
    font-weight: bolder;
    background: transparent;
    font-size: larger;
    font-family: cursive;
    &__label {
      transition: opacity 0.4s;
      pointer-events: none;
    }
    &:hover .navBar__button__label {
      opacity: 0.5;
    }
    &__night {
      @extend .navBar__button;
      color: $night-font-color;
      &:not(:first-child)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 25px;
        width: 1px;
        background-color: $night-font-color2;

      }
    }
  }
  &__background {
    fill: $light-bg-color2;
    transition: 0.4s;
    &__night {
      fill: $night-bg-color4;
      transition: 0.4s;
    }
  }
}
