@import "../../../styles/variables.scss";
.profile {
  border-width: 3px;
  border-style: inset;
  border-color: #fc9484;
  max-width: 550px;
  min-width: 380px;
  min-height: 200px;
  background-image: linear-gradient(to right, $light-bg-color3, $light-bg-color4);

  &__night {
    @extend .profile;
    border-color: #0d0c1b;
    background-image: linear-gradient(to right,$night-bg-color1, $night-bg-color6);
    color: $night-font-color;
  }
  &__image {
    text-align: center;
    float: left;
    padding: 10px;
    height: auto;
    width: auto\9;
    border-radius: 25px;
    &__loading {
      display: none;
    }
  }
  &__text {
    text-align: left;
    padding: 3px;
    font-size: x-large;
    transition: 0.4s;
  }
  &__skeleton {
    width: 100%;
    height: 200px;
    background-color: $light-bg-color5;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
      transform: rotate(-45deg);
      font-family: cursive;
    }
  }
}

@media only screen and (max-width: 900px){
  .profile__text{
    font-size: larger;
  }
}
