@import "../../styles/variables.scss";

.drawer {
  position: fixed;
  top: 20px;
  left: 0;
  width: 250px;
  border-radius: 0 12px 12px 0;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateX(-114%);
  transition: transform 0.4s ease;
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__toggle {
    position: fixed;
    top: 80px;
    left: 0;
    transform: translateX(0);
    background-color: #ccc;
    border: none;
    border-radius: 0 8px 8px 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1001;
    transition: left 0.375s ease;
    background-image: linear-gradient(
      43deg,
      $light-bg-color8 0%,
      $light-bg-color9 46%,
      $light-bg-color10 100%
    );
    font-size: xx-large;
    color: $light-font-color1;
    &:hover {
      background-color: #bbb;
    }

    &.open {
      transition: left 0.4s ease;
      left: 276px; // match the drawer width so it stays on its right edge
    }
    &__night {
      @extend .drawer__toggle;
      background-image: linear-gradient(
        43deg,
        $night-bg-color1 0%,
        $night-bg-color3 46%,
        $night-bg-color5 100%
      );
      color: $night-font-color;
    }
  }
}
