.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 900px){
  .home {
    display: flex;
    margin: 0px 55px;
    flex-direction: column;
  }
}
