@import "tailwindcss";

/* Global theme tokens */
:root {
  /* app background / text */
  --bg-main: #eecbcb;
  --bg-secondary: rgb(252, 162, 177);
  --text-main: darkgreen;
  --text-secondary: rgb(82, 14, 40);
  /* link split default colors (light) */
}

.dark {
  --bg-main: #5F5D92;
  --text-main: rgb(253, 224, 248);

  /* link split defaults (night) */
  --ls-c1: rgb(253, 224, 248);
  --ls-c2: rgb(235, 174, 225);
}

html,
body {
  background: var(--bg-main);
  color: var(--text-main);
  min-height: 100%;
}
