.footer {
  display: flex;
  align-items: center;
  background-color: #ffe9e9;
  padding: 0px 30px;
  height: 4rem;
  &__img {
    margin-right: 50px;
  }
  &__button {
    display: flex;
    justify-content: center;
    background-color: pink;
    border: 2px solid hotpink;
    border-radius: 20px;
    text-decoration: none;
    color: darkgreen;
    width: 50px;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}