@import '.././styles/variables.scss';

.footer {
  display: inline-flex;
  align-items: center;
  background-color: #ffe9e9;
  padding: 0px 30px;
  height: 4rem;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  &__img {
    width: 55px;
    height: 55px;
  }
  &__night {
    @extend .footer;
    background-color: $night-bg-color4 !important;
  }
  &__group {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
    &__buttons {
      padding-left: 20px;
      display: grid;
      height: max-content;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 40px;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: $light-font-color;
    border: 1px dashed rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding: 5px;
    &:hover {
      background-color: rgb(255, 243, 245);
      border: 1px solid hotpink;
    }
    &:active {
      background-color: rgb(255, 142, 198);
    }
    &__night {
      color: $night-font-color !important;
      @extend .footer__button;
      &:hover {
        background-color: darkslateblue;
        border: 1px solid $night-bg-color7;
      }
      &:active {
        background-color: $night-bg-color8;
      }
    }
  }
}
