$light-font-color1: darkgreen;
$light-font-color2: rgb(82, 14, 40);
$light-link-font-color: darkred;
$light-bg-main: #eecbcb;
$light-bg-color1: pink;
$light-bg-color2: rgb(252, 162, 177);
$light-bg-color3: rgb(242, 204, 210);
$light-bg-color4: #e19f95;
$light-bg-color5: rgb(255, 176, 191);
$light-bg-color6: rgb(245, 153, 215);
$light-bg-color7: rgb(243, 114, 208);
$light-bg-color8: rgb(199, 149, 158);
$light-bg-color9: rgb(243, 185, 224);
$light-bg-color10: rgb(222, 133, 198);
$light-bg-color11: #FC6C85;
$light-bg-color12: #F88379;
$light-bg-color13: #E75480;
$light-bg-color14: #FF007F;
$light-bg-color15: #FF6EC7;
$light-bg-color16: #DE5D83;
$light-bg-color17: rgb(218, 175, 206);


$night-font-color: rgb(253, 224, 248);
$night-bg-main: #5F5D92;
$night-bg-color1: #8c89d2;
$night-bg-color2: #6460df;
$night-bg-color3: #4d4aa6;
$night-bg-color4: #2d2990;
$night-bg-color5: #7371ab;
$night-bg-color6: #4845a3;
$night-bg-color7: #272648;
$night-bg-color8: #16136b;
$night-bg-color9: #161543;
